<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/chat.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>SocialFamily | Web chat designed for kids</title>
</head>
<body>
    <div class="container">
        <section>
            <div id="chat-messages"></div>
            <input id="chat-input" type="text" placeholder="say anything" autofocus/>
          </section>
          <section>
              <ul class="list-unstyled">
                  <li>
                      <button type="button"
                      onclick=createPrivateChannel(chatClient)>
                     Create a private channel</button>
                  </li>
                  <input id="Invite"  type="text" placeholder="email address"></input>
                  <li>
                    <button type="button"
                    onclick=acceptInvitation(chatClient)>
                     Accept</button>
                  </li>
          </ul>
          </section>
          <script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
          <script src="../static/dist/chat.js"></script>
    </div>
    </script>
</body>

</html>