<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/dist/styles.css">
		<meta charset="utf-8" http-equiv="encoding">
		<!-- Latest compiled and minified bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
		<!-- Load our custom stylesheet -->
	
		<title>SocialFamily Python Application with NPM, React.js and Webpack</title>   
    </head>
    <body>
        {% include 'includes/_navbar.html'%}
       		<div class ="container">
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        	</div> 
        </script>
    </body>
</html>